<style>
  .list-group-link {
    text-decoration: none !important;
  }
  .list-group-item {
    border: 1px solid #c5c3c3;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgb(239, 239, 239);
  }
</style>

<div id="sidebar" class="my-5">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="/dashboard" class="list-group-link">Dashboard</a>
    </li>
    <li class="list-group-item">
      <a href="/post/create" class="list-group-link">New Post</a>
    </li>
    <li class="list-group-item">
      <a href="/post" class="list-group-link">My Post</a>
    </li>
    <li class="list-group-item">
      <a href="/dashboard/bookmarks" class="list-group-link">Bookmarks</a>
    </li>
    <li class="list-group-item">
      <a href="/dashboard/comments" class="list-group-link">Comments</a>
    </li>
    <li class="list-group-item">
      <a href="/dashboard/edit-profile" class="list-group-link">Edit Profile</a>
    </li>
    <li class="list-group-item">
      <a href="/auth/change-password" class="list-group-link"
        >Change Password</a
      >
    </li>
    <li class="list-group-item">
      <a href="/auth/logout" class="list-group-link">Logout</a>
    </li>
  </ul>
</div>
